body {
  background-color: lightgray;
}

.cell-grid {
  line-height: 0;

  .cell-grid__cell {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 8px;
    height: 8px;
    border: 1px solid darkgrey;

    &.cell-grid__cell--active {
      &:after {
        content: "";
        display: block;
        width: 6px;
        height: 6px;
        background-color: #666666;
        margin: 1px;
      }
    }
  }
}
